<p>
  <b>From:</b>
  <%=h @conversation.origin %>
</p>

<p>
  <b>To:</b>
  <%=h @conversation.target %>
</p>

<p>
  <b>Message:</b>
  <%=h @conversation.message %>
</p>


<%= link_to 'Back', url_for(:controller => 'users', :action => 'show', :id => session[:user_id]) %>