html, body {
height: 100%;
margin: 0;
padding: 0;
	background: #f0f0f0;
}

#head-container
{
	background: #000;
	background-image: url('../images/topbg.gif');
	background-repeat: repeat-x;
}

#header
{
	margin: 0 auto 0 auto;
	height: 141px;
	min-width: 1000px;
	background: url('../images/header.gif') center;
	background-repeat: no-repeat;
}

#header h1 { margin: 0; }

#content-container
{
	padding: 0 0 70px 0;
	float: left;
	width: 100%;
	background: #f0f0f0;
}

#content-container2
{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	margin: 0 auto -55px;
}

#content-container3
{
	float: left;
	width: 100%;
	background: #f0f0f0;
}

#content
{
	margin: 0 auto 0 auto;
	width: 900px;
}

#footer-container
{
	position: fixed;
	bottom: 0;
	width: 100%;
	clear: both;
	background: #e2e2e2 url('../images/bottom.gif');
	background-repeat: repeat-x;
}


#footer
{
	margin: 0;
	width: 100%;
	height: 46px;
	text-align: center;
	color: #7d7d7d;
}

#login
{
	margin: 0 auto 0 auto;
	width: 550px;
	height: 360px;
	background: url('../images/login-bg.gif') center;
}

#login-name
{
	padding: 90px 0 0 68px;
}
#login-pw
{
	padding: 52px 0 0 68px;
}
#login-signup
{
	padding: 90px 0 0 68px;
}
#login-signin
{
	margin: -23px 0 0 0;
	padding: 0 0 0 210px;
}

#register
{
	margin: 0 auto 0 auto;
	width: 550px;
	height: 360px;
	background: url('../images/register-bg.gif') center;
}

#register-name
{
	padding: 78px 0 0 68px;
}
#register-pw
{
	padding: 42px 0 0 68px;
}
#register-pwconfirm
{
	padding: 42px 0 0 68px;
}
#register-back
{
	padding: 46px 0 0 68px;
}
#register-signup
{
	margin: -23px 0 0 0;
	padding: 0 0 0 210px;
}