<%= render :file => 'groups/header.html.erb' %>

<p>
  <b>Group Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Group Description:</b>
  <%=h @group.description %>
</p>

<br/>
<%= link_to 'Back', groups_path %>