<div id="navcontainer">
					<ul id="groupnav">
						<li>My Groups
						  <ul class="sub">
							 <% @user.groups.each do |group| %>
								<li><%= link_to group.name, group %></li>
							 <% end %>
						  </ul>
						</li>
					</ul>
					<ul id="usercontrol">
						<li>User
							<ul>
								<li><%= link_to 'Logout', :controller => 'users', :action => 'logout'%>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="content-container">
			<div id="content-container2">
				<div id="content-container3">
					<div id="content">
						<p style="color: green"><%= notice %></p>