<div class ="depot-form">
	<% form_tag do %>
		<div id="login">

			
			<div id="login-name">
				<%= text_field_tag :name, params[:name], :size => 30 %>
			</div>
			
			<div id="login-pw">
				<%= password_field_tag :password, params[:password], :size => 30 %>
			</div>
		
			<div id="login-signup">
				<%= link_to image_tag("button-register.gif"), new_user_path %>
			</div>
			<div id="login-signin">
				<%= image_submit_tag("button-signin.gif") %>
			</div>
		</div>
	<% end %>
</div>