<%= render :file => 'users/header.html.erb' %>
<h1>Users</h1>
<div id="search">
    <%= render :partial => 'users/search' %>
</div>
<% if @users.length>0 %>
	<table>
	  <tr>
	    <th>Name</th>
	    <th>Status</th>
	  </tr>

	<% @users.each do |user| %>
	  <tr>
	    <td><%=h user.username %></td>
	  </tr>
	<% end %>
	</table>
<% else %>
	<br />
	<%=h "Search returned no results." %>
	<br />
<% end %>
<br />
<%= link_to 'New group', new_group_path %>
<%= link_to 'Back', @user %>
