<%= render :file => 'users/header.html.erb' %>
<div id="user-maincontent-box">
	<div id="user-maincontent-head">
		<strong>News Feed</strong>
	</div>
	<div id="user-maincontent-body">
  <% @all_newsfeeds = User.findNewsFeed(current_user.id) %>
  
  <% @all_newsfeeds.first(20).each do |newsfeed| %>
	<div id="newsfeed"><%= newsfeed.group.name %>:
	<%=h link_to(newsfeed.descriptions, newsfeed.link) %>
	</div>
  <% end %>
  
</div>
</div>
</div>