<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <title>Groups: <%= controller.action_name %></title>
	  <%= javascript_include_tag 'jquery-1.4.4', 'application' %>
	  <script type="text/javascript">
		jQuery(document).ready(function() {
		  jQuery(".conversationnew").hide();
		  jQuery(".conversation-body").hide();
		  jQuery(".conversationnewshow").click(function()
		  {
		    jQuery(this).prev(".conversationnew").slideToggle(500);
		  });
		  jQuery(".conversation-header").click(function()
		  {
		    jQuery(this).next(".conversation-body").slideToggle(500);
		  });
		});
	  </script>
	  <%= stylesheet_link_tag 'style' %>
	</head>
	<body>
		<div id="head-container">
			<div id="header">
			
			
								<%= yield %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer-container">
			<div id="footer">
				<br />
				&copy; 2010 Groupital
			</div>
		</div>
	</body>
</html>
